<div class="container">

  <% if @customers.present? %>
   <div class="follower">
    <h4><strong>フォロワー一覧</strong></h4>
    <%=render 'follow',customers: @customers %><!--部分テンプレート-->
   </div>
  <% else %>
    <div class="following">
      <h4><strong>フォロワー一覧</strong></h4>
      <p>現在フォロワーはいません</p>
    </div>
  <% end %>

</div>