<div class="container">
  <div class="unsubscribe-box">
    <div class="attention-image"><%=image_tag 'attention.jpg',size: "150x150" %></div>
    <h3><strong>本当に退会しますか？</strong></h3>
    <p>退会すると、会員登録情報や</p>
    <p>
      これまでの投稿、ブックマークなど<span style="color:red">すべての情報</span>が破棄されます。
    </p>
    <p>
      退会する場合は、「退会する」をクリックして下さい。
    </p>
  <div class="button">
    <%=link_to "退会しない",customer_path(current_customer.id),class:"btn btn-primary"%>
    <%=form_with model: @customer,url: withdraw_path,method: :delete do |f| %>
     <%=f.submit "退会する","data-confirm"=>"退会します。宜しいですか？",class:"btn btn-danger ml-4" %>
    <% end %>
  </div>
  </div>
</div>

