// Place all the styles related to the public/customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.customer-post-item-contents{
 width: 200px;
 margin-left: 22px;
}

.customer-post-item h4{
  margin-left: 22px;
}
