// Place all the styles related to the public/customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


// customer-showここから
.customer-post-item-contents{
 width: 200px;
 margin-left: 22px;
}

.customer-post-item h4{
  margin-left: 22px;
}


// customer-editここから
 .customer-edit-card-container{
  max-width: 800px;
  background-color:#FAEBD7;
  border: 2px solid #0099CC;
}

.customer-edit-title h3{
  text-align: center;
  border-bottom: 4px solid #0099CC;
}

.customer-edit-table{
 width: 80% ;
 margin: 0 auto;
}

.customer-edit-table tr{
  border-top: 1px solid #F4A460;
  line-height: 3em;
}

.customer-edit-table th{
  width: 40%;/*横幅*/
  background-color:#0099CC;
  line-height: 3em;
  font-size: 15px ;
  text-align: left;
  color: white;
}

.customer-edit-table td{
border: 1px solid #d8d8d8;
background-color: white;
}

.customer-edit-table span{
  margin-left: 10px;
}
