<div class="container">
  <h4 class="font-weight-bold mb-3">カテゴリ編集</h4>

  <%= form_with model:@category, url:admin_category_path(@category.id), method: :PATCH  do |f| %>
    <div class="form-group row mx-auto">
      <%= f.label :カテゴリ,class: "col-lg-2" %>
      <%=f.text_field:name,placeholder: @category.name,class: "col-lg-3 form-control" %>
      <%=f.submit "変更を保存",class: "col-lg-2 btn btn-success ml-5" %>
    </div>
  <% end %>

</div>
