<div class="container admin-sign-in-card-container">
  <div class="admin-sign-in-box">
    <h4 class="admin_sign-in-title"><strong>管理者ログイン</strong></h4>
    <div class="admin-sign-in-card-body">
      <%=form_with model: @admin,url: admin_session_path do |f| %>
      <table class="admin-sign-in-table table-bordered">
        <tbody>
          <tr>
            <th><span>管理者用メールアドレス</span></th>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email",class: "form-control form-control-sm col-11 mx-auto" %></td>
          </tr>
          <tr>
            <th><span>管理者用パスワード</span></th>
            <td><%= f.password_field :password, autocomplete: "current-password",class: "form-control form-control-sm col-11 mx-auto" %></td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <%= f.submit "ログイン",class:"btn btn-primary mx-auto mt-5" %>
      </div>
      <% end %>
    </div>
  </div>
</div>