<div class="container">

<h4 class="font-weight-bold">会員一覧</h4>
  <table class="table">
      <thead>
        <tr>
          <th>会員ID</th>
          <th>ユーザー名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
           <th>ステータス変更</th>
        </tr>
      </thead>
    <tbody>
      <% @customers.each do |customer| %>

      <!--ゲストユーザーは一覧に表示しない-->
       <% if customer.email == 'guest@examle.com' %>
       <% else %>
      <tr>
        <td><%=customer.id %></td>
         <td><%#=link_to admin_customer_path(customer.id) do %><%=customer.name %><%# end %></td>
        <td><%=customer.email%></td>
        <td>ステータスが入ります<%# if customer.is_deleted == true %>
        <!--   <span class="font-weight-bold" style="color:#DDDDDD;">退会</span>-->
        <!--   <#% else %>-->
        <!--   <span class="text-success font-weight-bold">有効</span>-->
        <!--   <#% end %>-->
        </td>
        <td>ステータスが入ります  更新ボタン</td>
      </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>

<!--以下コメントアウト部分ページネーション-->
  <!--<div class="row mx-auto">-->
  <!--  <div class="col-lg-2 mx-auto">-->
  <!--    <#%= paginate @customers %>-->
  <!--  </div>-->
  <!--</div>-->

</div>


