// Place all the styles related to the public/post_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// ここから [post-item new.html]
.post-title-visual{
  width: 100%;
  height: 150px;
  position: relative;
  background-image: url('../../../assets/images/post-top-image.jpg');
  background-size: cover;
}

.post-title-visual::before{
  // 透過した黒を上から重ねる
  background-color: rgba(0,0,0,0.2);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: ' ';
}

.post-title h3{
  width: 100%;
  position: absolute;
  color: white;
  text-align: center;
  line-height: 150px;
  font-family: 'Shippori Mincho', serif;
}

.post-card-container{
  max-width: 800px;
  background-color:#FAEBD7;
  border: 4px solid #CC3300;
  margin: 40px auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

.post-card-body{
  margin: 0 auto;
}

.post-table{
  width: 80% ;
	margin: 0 auto;
}

.post-table tr{
  border-top: 1px solid #F4A460;
  line-height: 3em;
	}

.post-table th{
  width: 40%;
  background-color:#FFCC66;
  line-height: 3em;
  font-size: 15px ;
  text-align: left;
}

.post_item_optional_field{
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.post_item_required_field{
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.form-group{
width: 60%;
}

.post-table td{
border: 1px solid #d8d8d8;
background-color: white;
}

.post-button{
text-align: center;
}

 //ここから [post-item index.html],[search.html],[category_search.html],[prefecture_search.html],

.main-visual{
  width: 100%;
  height: 180px;
  margin-bottom: 48px;
  position: relative;
  background-image: url('../../../assets/images/main-image.jpg');
  background-position: center left;
  background-size: cover;
}

.main-visual::before{
  // 透過した黒を上から重ねる
  background-color: rgba(255,255,255,0.4);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: ' ';
}

.main-visual-text p{
  width: 100%;
  position: absolute;
  text-align: center;
  line-height: 180px;
  font-size: 25px;
  font-family: 'Shippori Mincho', serif;
}

.post-item-container{
  width: 90%;
  margin-bottom: 80px;
}

.main_bar{
  margin: 0 auto;
}

.post-item-top-bar{
  background-color:	#FFCC99;
  display: flex;
  margin: 0 auto 20px ;
  padding: 15px;
}

.top-bar-title{
  font-family: 'Zen Maru Gothic', sans-serif;;
}

.top-bar-title tag{
 color: blue;
}

.tag-search{
  margin: 0 auto;
}


.search{
  margin-left: auto;
}

.post-item-contents{
  display: flex;
  flex-wrap: wrap;
}

.post-item-contents table{
  width: 180px;
  margin-left: 47.5px;
}

.post-item-contents p{
  height: 75px;
}

.search-hit-top-message{
  display: flex;
  justify-content: start;
}

.search-hit-top-message p{
  margin-left: 48px;
  font-size: 18px;
}


.sidebar{
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
  border: 1px solid #6666CC;
  margin: 0 auto;
  padding: 20px ;
}

.sidebar h4{
  text-align: center;
  border-bottom: 1px solid #6666CC;
  color:#6666CC;
}

.sidebar h5{
 margin-bottom: 20px;
}

.sidebar p{
  font-size: 18px;
  display: inline-block;
  margin-right: 20px;
}

.prefucture_image{
  margin: 20px 0;
}

 //ここから [post-item show.html]

.post-item-show-container{
  margin : 40px auto;
}

.post-item-show-flash{
 margin: 30px;
}

.post-item-show-main{
 margin: 0 auto;
}

.post-show-top{
padding-left: 15px;
margin-bottom: 20px;
}

.post-show-top h4{
margin: 30px;
font-family: 'Zen Maru Gothic', sans-serif;
}

.post-show-card{
  max-width: 600px;
  margin-bottom: 30px;
}

.card-image{
  background-color:#B0C4DE;
}

.bookmark{
  color: black;
}
.tag{
  font-size: 18px;
}
.tag-title{
  margin: 20px 0 ;
}
.tag-box{
width: 85%;
border: 1px solid;
border-radius: 2px;
}

.post-tag{
  display: inline-block;
   margin: 10px;
}

.no-post-tag{
  margin: 10px;
  color: silver;
}


.review p{
margin: 15px;
font-size: 18px;
}

.review-box{
width: 85%;
border: 1px solid;
border-radius: 2px;
padding: 10px;
}

.no-review-text{
  margin: 10px;
  color: silver;
}
.review-detail{
  padding-left: 15px;
 }

.review-detail p{
 margin-right: 10px;
 margin-top: 5px;
}

.current-comment p{
font-size: 18px;
}

.current-comment-box{
width: 350px;
}

.post-comment-box{
width: 350px;
border: 1px solid;
border-radius: 2px;
margin-left: 5px;
padding: 10px;
}
.post-comment-name{
  margin: 0 0 0 5px;
 }

.post-comment-date{
  margin-left: 5px;
 }

.map_bar{
  margin: 0 auto;
  background-color:#9999FF;
}

.map-top{
  margin: 0 auto;
  margin-top: 40px;
  margin-left: 20px;
 color: white;
}

// グーグルマップのスタイル
#map{
  height: 600px;
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.post-show-table th{
  line-height: 2em;
  width: 40%;/*横幅*/
}

.post-show-table td {
  line-height: 2em;
  width: 80%;/*横幅*/
}

.post_item_required_field{
  background-color:#FF9900;
  color: white;
  border-radius: 6px;
  font-size: 12px;
}

.post_item_optional_field{
  background-color:#C0C0C0;
  color: white;
  border-radius: 6px;
  font-size: 12px;
}


 //ここから [post-item edit.html]
 .post-edit-title h3{
  text-align: center;
  border-bottom: 4px solid #2E8B57;
  margin-top: 40px;
  font-family: 'Shippori Mincho', serif;

}

 .post-edit-card-container{
  max-width: 800px;
  background-color:#FAEBD7;
  border: 4px dashed #2E8B57;
  margin: 40px auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

.post-edit-card-body{
  margin: 0 auto;
}


.post-edit-table{
  width: 80% ;
	margin: 0 auto;
}

.post-edit-table tr{
  border-top: 1px solid #F4A460;
  line-height: 3em;
	}

.post-edit-table th{
  width: 40%;/*横幅*/
  background-color:#3CB371;
  line-height: 3em;
  font-size: 15px ;
  text-align: left;
  color: white;
}

.post-edit-table td{
border: 1px solid #d8d8d8;
background-color: white;
}

.post-edit-table span{
  margin-left: 10px;
}
.post-item-edit-button{
 display: flex;
 justify-content: center;
}

// エラーメッセージ
.error_explanation{
  margin-left: 50px;
  color: red;
}

//公開・非公開ボタン
.release-button{
  margin-left: 20px;
}

@media screen and (max-width: 1024px) {

  .main-visual{
    height: 100px;
  }

  .main-visual-text p{
    line-height: 100px;
    font-size: 20px;
    font-family: 'Shippori Mincho', serif;
  }

  .post-item-top-bar{
    width: 100%;
    display: block;
    margin-top: 50px;
    padding-bottom: 16px;
  }
  .search{
    margin-left: 16px;
  }
  .post-item-contents{
    display: flex;
    flex-wrap: wrap;
  }

  .post-item-contents table{
    margin: 0 6px;
  }

  .prefucture_image{
    display: none;
  }

}
