@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  }

// 共通　ヘッダー＆フッター
.nav-item{
  margin-left: 50px;
}

.nav-item-post{
  display:inline-block;
}

.header_icon{
  margin-left: 30px;
}

.nav-follow{
 display:inline-block;
 font-size: 12px;
}
